.todo-app{
  .body-app{
    display: flex ;
    .body-tasks {
      background-color: #bfffd142;
      width: 100%;
      display: flex;
      padding-top: 30px;
      justify-content: center;
    }
  }
}

