.sidebar {
    // position: absolute;
    background: #F88F14;
    width: 150px;

    button {
        height: 40px;
        width: 100%;
        color: white;
        background-color:#F88F14;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white; 
        border-width: 0 0 2px 0;
    }
    
}

