@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");

.todoItem {
  position: relative;
  background-color: #fff;
  border: 2px solid blue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  
  margin: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;



  .todoItem__desscription {
    border-top: 2px solid blue;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .status__btn {
    align-self: center;
    border: 1px solid blue;
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    width: 80px;
  }
  
  .btn--delete {
    position: absolute;
    top: 5px;
    right: 5px;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    line-height: 1.2rem;
    color: white;
    background-color: red;
    font-size: 1.2rem;
    cursor: pointer;

  }
}
